<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782541426408-g8lebr3oijkkrag0th8ddqjdt9ln9kpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782541426408-g8lebr3oijkkrag0th8ddqjdt9ln9kpk</string>
	<key>API_KEY</key>
	<string>AIzaSyDr4K-QGEzcNFFAJIaxdRwOpCvRIIQTHk0</string>
	<key>GCM_SENDER_ID</key>
	<string>782541426408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zchat</string>
	<key>PROJECT_ID</key>
	<string>zchat-a1719</string>
	<key>STORAGE_BUCKET</key>
	<string>zchat-a1719.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782541426408:ios:d86d3c6b13cc0c0209c35d</string>
	<key>DATABASE_URL</key>
	<string>https://zchat-a1719.firebaseio.com</string>
</dict>
</plist>